---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar";
import { Jumbotron } from "../components/Jumbotron";
---

<Layout title="Web Pengamat Cuaca">
  <main>
    <div class="bg-white">
      <div id="main" class="relative min-h-[100vh]">
        <div
          class="absolute inset-0 bg-cover bg-center"
          style="background-image: url('/img/bali-background.jpg');"
        >
        </div>
        <div
          class="absolute inset-0 bg-gray-800 bg-opacity-50 backdrop-filter backdrop-blur-lg"
        >
          <Navbar client:only="react" />
          <Jumbotron client:only="react" />
        </div>
      </div>
    </div>
  </main>
</Layout>

<script is:inline></script>
